/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
.post-carousal-wrp .fl-post-carousel .fl-post-carousel-post{
    text-align: center;
}
.post-carousal-wrp .fl-post-carousel .fl-post-carousel-post .fl-post-carousel-text .fl-post-carousel-title a{
    text-transform: uppercase;
    color: #242c43;
    font-size: 14px;
    font-weight: 600;
}
.fl-post-carousel-more{
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 12px 0px;
    letter-spacing: 1px;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text-2 i{
    color: #a99468;
}
.fl-page-bar .fl-page-bar-container .fl-page-bar-text-2 a{
    margin-left: 20px;
    display: inline-block;
}
.fl-page-header{
    font-family: "Montserrat",sans-serif;
}
.fl-page-header .fl-page-header-wrap .fl-page-header-container{
    padding: 20px 0;
}
#our-arrow a.adv-icon-link{
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 20px #797979;
    border-radius: 50px;
}
.fl-page-nav-right .fl-page-nav ul.navbar-nav > li a{
    text-transform: uppercase;
}

.store-opening-hrs li{
	    position: relative;
}
.store-opening-hrs li span{
	    position: absolute;
	    right: 0px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav > li.menu-button a{
    background: #a99468;
    color: #fff;
    margin-left: 50px;
    display: inline-block;
}
.fl-page-nav-right .fl-page-nav ul.navbar-nav > li.menu-button a:hover{
    background: #242c43;
}
.fl-node-5f3f9b51560b3 .fl-rich-text, .fl-node-5f3f9b51560b3 .fl-rich-text *{
    color: #a99468!important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li{
    border:0px!important; 
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a{
    color: #a99468;
    margin-bottom: 10px!important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a:hover{ 
    box-shadow: 0 0 10px #000;
    background: #e9ebeb;
    font-weight: 700;
    text-transform: uppercase;
    color: #242c43;
    font-size: 17px;    
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li.uabb-tab-current{
        border:0px!important; 
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li.uabb-tab-current h4 a{
    box-shadow: 0 0 10px #000;
    background: #e9ebeb;
    font-weight: 700;
    text-transform: uppercase;
    color: #242c43;
    font-size: 17px;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li.uabb-tab-current h4 a .uabb-tab-title{
    color: #242c43!important;
}
.vertical-tabs-wrp .uabb-tabs-style-simple ul li h4 a .uabb-tab-title span{
    font-weight: 300;
    border: 1px solid #a99468;
    color: #a99468;
    padding: 2px 0px;
    border-radius: 50px;
    display: inline-block;
    width: 35px;
    text-align: center;
    margin-right: 10px;
}
.vertical-tabs-wrp .uabb-tabs-layout-vertical .uabb-content-wrap {
    padding-left: 50px;
}
@media (min-width: 1100px) and (max-width: 1440px) {
	.fl-page-bar .fl-page-bar-container{
	    max-width: 95%!important;
}	
}
.uabb-content-current > .uabb-tab-acc-title .uabb-tab-title,
.uabb-content-current > .uabb-tab-acc-title .uabb-acc-icon{
	color: #242c43 !important;
}
ul.store-opening-hrs {
    padding-left: 0;
    list-style: none;
}
#djcustom-footer a{
	white-space: nowrap;
}
@media (max-width:768px){
	.product-row .fl-module-photo .fl-photo .fl-photo-img{
		width: 100%;
	}
}